%center-container {
    box-sizing: border-box;
    max-width: $width-max-content;
    // padding: 0 30px;
    margin: 0 auto;

    @include forMobile {
        max-width: $width-max-content-mobile;
    }
}