.not-desktop {
    @media all and ( min-width: $ipad-width ) {
        display: none !important;
    }
}
.not-mobile {
    @include forMobile {
        display: none !important;
    }
}

.not-ipad {
    @media all and ( min-width: $tablet-width ) {
        display: none !important;
    }
}