@import '~scss-globals';

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $height-header;
    font-size: $font-size-16;
    padding: rem(20) rem(30);
    display: flex;
    align-items: center;

    @include forIpad {
      padding: rem(20);
      height: $height-header-mobile;
    }

    @include forMobile {
      padding: rem(20);
      height: $height-header-mobile;
    }

    &__logo {
      height: rem(40);
    }

    &--sticky {
      background-color: $color-white;
    }
    &__navigations {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
      .button {
        width: rem( 80 );
      }
    }

    &__search {
      width: 80%;
      margin: 0 rem(10);
    }
  }