@import '~scss-globals';

.headroom--unfixed {

  margin: - #{ rem(30) };

  @include forIpad {
    margin: - #{ rem(20) };
  }

  @include forMobile {
    margin: - #{ rem(20) };
  }

}
.headroom--pinned {
  background-color: $color-white;
}

.header {
    
    height: $height-header;
    font-size: $font-size-16;
    padding: rem(20) rem(30);
    display: flex;
    align-items: center;

    @include forIpad {
      padding: rem(20);
      height: $height-header-mobile;
    }

    @include forMobile {
      padding: rem(20);
      height: $height-header-mobile;
    }

    &__logo {
      height: rem(40);
    }

    &__navigations {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
      .button {
        width: rem( 80 );
      }
    }
  }