@import '~scss-globals';

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $height-header;
    font-size: $font-size-16;
    padding: rem(20) rem(30);
    display: flex;
    align-items: center;

    &__logo {
      height: rem(30);
    }

    &--sticky {
      background-color: $color-white;
    }
    &__navigations {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .button {
        width: rem( 100 );
      }
    }
  }