@import '~scss-globals';

.button {
    height: rem(40);
    width: 100%;
    background-color: $color-primary;
    color: $color-text-primary;
    border: none;
    border-radius: rem(40);
    font-size: $font-size-16;
  }