@import '~scss-globals';

.login {
  display: flex;
  width: 100%;
  height: 100vh;
  height: calc( 100vh - #{ rem(60) } );
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .login-form {
    width: rem( 360 );
    @include forMobile {
      width: rem( 300 );
    }
    display: flex;
    flex-direction: column;
    background: $color-white;
    padding: rem(20);
    box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.1);
    box-shadow: rgb(212, 223, 220) 0px 0px 20px 1px;
    
    .google-login {
      margin-bottom: rem( 40 );
    }

    .MuiAlert-root {
      margin-bottom: rem(20);
    }
    .MuiAlert-message {
        font-size: $font-size-16;

    }
    .input + .input {
      margin-top: rem(10);
    }
  }

  .text-link {
    text-align: end;
    margin-bottom: rem(30);
    margin-top: rem(10);
  }

  &__registration {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: rem(30);
    &__title {
      font-size: $font-size-16;
    }
    .text-link {
      margin-bottom: 0;
    }
  }
}
