// reset all styles
@import "reset";
html, body {
    font-size: $base-font-size-px;
    scroll-behavior: smooth;
    color: $color-text-primary;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    @include forIpad {
        font-size: $base-ipad-font-size-px;
    }

    @include forMobile {
        font-size: $base-mobile-font-size-px;
    }
}



body {
    padding: rem(30);
    background-color: rgb(247, 247, 247);

    @include forIpad {
        padding: rem(20);
      }
  
      @include forMobile {
        padding: rem(20);
      }
    
    min-height: calc( 100vh );
}

.page-with-header {
    margin-top: calc( #{ $height-header } - #{ rem(30) } );

    @include forIpad {
        margin-top: calc( #{ $height-header-mobile } - #{ rem(20) } );
    }

    @include forMobile {
        margin-top: calc( #{ $height-header-mobile } - #{ rem(20) } );
    }

    
}

// anchor <a> links
a {
    color: blue;
    text-decoration: none;
}

// table layout
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
