@import '~scss-globals';

.search {
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: rem(6);
  @extend %box-shadow;
  background-color: $color-white;
  &__input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: rem(6) 0 0 rem(6);
    background-color: transparent;
    padding-left: rem(15);
    font-size: $font-size-16;
  }

  &__button {
    background: $color-primary;
    height: 100%;
    padding: rem(5);
    border-radius: 0 rem(6) rem(6) 0;
    color: $color-white;
    width: rem(40);
    display: flex;
    align-items: center;
    font-size: $font-size-12;
    justify-content: center;
  }
}