$color-primary: rgb(0, 158, 127);
$color-secondary:#15aabf0f;
$color-border: #e4e4e4;
$color-text-primary: #000000;
$color-alert: red;

//placeholder colors
$color-e6eaf5: #e6eaf5;;
$color-d4dbee:#d4dbee;

$color-white: #ffffff;
$color-header-sticky: #21384e;