// base-font-size used in px to rem function
$base-font-size: 10;
$base-font-size-px: 0.69444444444vw; // 10 * 1px;
$base-mobile-font-size-px: 2.666666667vw; // 10 * 1px;

$font-size-24: rem(24); // 24px;
$font-size-20: rem(20); // 20px;
$font-size-18: rem(18); // 18px;
$font-size-16: rem(16); // 16px;
$font-size-14: rem(14); // 14px;
$font-size-12: rem(12);
$font-size-10: rem(10);