// site header
$z-index-site-header: 2900;

// Mobile nav and footer
$z-index-bottom-fixed: 2900;

// bottom navigation bar
$z-bottom-nav-bar: 2900;

// overlay backdrop shadow
$z-index-overlay-backdrop: 3000;

// pseudo input capture
$z-index-pseudo-input-capture: 5000;
